<% if notice %>
  <p class = "alert alert-danger"><%= notice %></p>
<% end %>
<div class="form-signin">
  <% if flash[:alert] %>
    <p class="alert alert-danger"><%= flash[:alert] %></p>
  <% end %>
  <div class="form-signin-container">
    <%= form_tag do %>
      <h2 class="signin-title">Please sign in</h2>
      <%= label_tag :email, 'What is your email?', class: "signin-label"%>
      <%= text_field_tag :email, params[:email], placeholder: "EMAIL", class: "signin-input" %>
      <%= label_tag :password, 'What is your password?', class: "signin-label"%>
      <%= password_field_tag :password, params[:password], placeholder: "PASSWORD", class: "signin-input" %>
      <h5>New to PrismBox? <%= link_to 'Click here', new_user_path %> </h5>
      <%= submit_tag "Login", class: "btn btn-primary signin" %>
    </div>
  <% end %>
</div>
