<div class="container">
  <% if notice %>
  <p class = "alert alert-success"><%= notice %></p> 
  <% end %>
  <div class = "row row-offcanvas row-offcanvas-right">
    <div class = "col-xs-12 col-sm-9">
      <div class = "page-header">

        <p> It's <%= Time.zone.now %> </p>
      </div>
      <div class = 'row'>
        <div class="col-6 col-sm-6 col-lg-4">
          <h2>Users</h2>
          <p>View and Manage All User List.</p>
          <p><%= link_to 'Users List', users_url, class: "btn btn-primary btn-sm" %></p>
        </div>
        <div class = "col-6 col-sm-6 col-lg-4">
          <h2>Laptops</h2>
          <p>Manage Laptops.</p>
          <p><%= link_to 'Laptops Management', laptops_url, class: "btn btn-primary btn-sm" %></p>
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
          <h2>Orders</h2>
          <p>View and Manage Recent Order Statement.</p>
          <p><%= link_to 'Order Statement', orders_url, class: "btn btn-primary btn-sm" %></p>
        </div>
      </div>
    </div>
  </div>
</div>
