<div class="container">
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p> 
  <% end %>
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
      <div class="page-header">
        <h3> It's <%= Time.zone.now %> </h3>
      </div>
      <div class='row'>
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active">Laptops Management</li>
            <li><%= link_to "All Laptops", laptops_url %></li>
            <li><a href="#">Laptop Stocks</a></li>
            <li><a href="#">Rented Laptops</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active">Orders Management</li>
            <li class="order_state"><%= link_to "All Orders", orders_url, data:{id: "all"} %></li>
            <li class="order_state"><%= link_to "Confirmed Orders", orders_url, data:{id: "confirmed"} %></li>
            <li class="order_state"><%= link_to "New Orders", orders_url, data:{id: "new"} %></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active">Users Management</li>
            <li><%= link_to "All Users", users_url %></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">New Orders</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                  <th>Header</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
