<div class="container">
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p> 
  <% end %>
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
      <div class="page-header">
        <h3> It's <%= Time.zone.now %> </h3>
      </div>
      <div class='row'>
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active">Laptops Management</li>
            <li class="order_state"><%= link_to "All Laptops", {action: "index", controller: "laptops", state: "all"} %></li>
            <li class="order_state"><%= link_to "Laptops Stocks", {action: "index", controller: "laptops", state: "stocks"} %></li>
            <li class="order_state"><%= link_to "Laptops Reserved", {action: "index", controller: "laptops", state: "reserved"} %></li>
            <li class="order_state"><%= link_to "Laptops Rented", {action: "index", controller: "laptops", state: "rented"} %></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active">Orders Management</li>
            <li class="order_state"><%= link_to "All Orders", {action: "index", controller: "orders", state: "all"} %></li>
            <li class="order_state"><%= link_to "Orders Confirmed", {action: "index", controller: "orders", state: "confirmed"} %></li>
            <li class="order_state"><%= link_to "New Orders", {action: "index", controller: "orders", state: "processing"} %></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active">Users Management</li>
            <li><%= link_to "All Users", users_url %></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">New Orders</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>FULL NAME</th>
                  <th>EMAIL</th>
                  <th>LAPTOP SERIAL NUMBER</th>
                  <th>ORDER STATEMENT</th>
                </tr>
              </thead>
              <tbody>
                <% new_orders.each do |order| %>
                <tr>
                  <td></td>
                  <td><%= order.full_name %></td>
                  <td><%= order.email %></td>
                  <td><%= order.laptop_serial_number %></td>
                  <td><%= order.order_status %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
