<div class="container">
  <% if notice %>
      <p class = "alert alert-success"><%= notice %></p> 
  <% end %>
  <div class="page-header">
    <h1><span><%= @user.first_name.titlecase %> <%= @user.last_name.titlecase %></span> PROFILE</h1>
  </div>
  <div class="user_profile"><br>
    <label class="col-sm-3">FULL NAME</label>
    <div class="col-sm-5"><%= @user.first_name.titlecase %> <%= @user.last_name.titlecase %></div><br>
    <label class="col-sm-3">EMAIL</label>
    <div class="col-sm-5"><%= @user.email %></div><br>
    <label class="col-sm-3">DEPARTMENT</label>
    <div class="col-sm-5"><%= @user.department %></div><br>
    <label class="col-sm-3">CURRENT BORROWED LAPTOP</label>
    <div class="col-sm-5"><%= @user.current_borrowed_laptop %></div><br>
    <label class="col-sm-3">CURRENT BORROWED DATE</label>
    <div class="col-sm-5"><%= @user.current_borrowed_date %></div><br>
  </div><br>
  <div class="back">
  <%= link_to "Back", '/' , class: "btn btn-primary"%>
  </div>
</div>
