<div class="contents">
  <% if notice %>
      <p class = "alert alert-success"><%= notice %></p> 
  <% end %>
  <h1 class="info-title"><span><%= @user.first_name.titlecase %> <%= @user.last_name.titlecase %></span> PROFILE</h1>
  <div class="info-detail">
    <label>FULL NAME</label>
    <div class="info"><%= @user.first_name.titlecase %> <%= @user.last_name.titlecase %></div>
    <label>EMAIL</label>
    <div class="info"><%= @user.email %></div>
    <label>DEPARTMENT</label>
    <div class="info"><%= @user.department %></div>
    <label>CURRENT RENTED LAPTOP</label>
    <div class="info"><%= @user.current_borrowed_laptop %></div>
    <label>CURRENT RENTED DATE</label>
    <div class="info"><%= @user.current_borrowed_date %></div>
  </div><br>
  <div class="buttons">
    <%= link_to "Edit", edit_user_path(@user), class: "btn btn-info" %> 
    <%= link_to "Delete", @user, method: :delete, data: {confirm: "Are you sure? You can’t cancel this action."}, class: "btn btn-danger" %></td><br><br>
    <% if current_user.admin %>
      <%= link_to "Back to Users List", users_url , class: "btn btn-primary"%>
    <% else %>
      <%= link_to "Home", "/" , class: "btn btn-primary"%>
    <% end %>
  </div><br>
</div>
