<div class="order_form">
  <%= form_for @order do |f| %>
    <% if @order.errors.any? %>
      <div class = "alert alert-danger">
        <h2>
          <%= pluralize(@order.errors.count, "error") %>
          prohibited this order from being saved:
        </h2>
        <ul>
          <% @order.errors.full_messages.each do |msg| %>
            <li><%= msg %></li> <% end %>
        </ul>
      </div> 
    <% end %>
    <div class="form-group">
      <label class="col-sm-3 control-label">FULL NAME</label>
      <div class="col-sm-5">
        <%= f.text_field :full_name, value: current_user_full_name, class: "form-control", readonly: !current_user.admin %>
      </div><br>
      <label class="col-sm-3 control-label">EMAIL</label>
      <div class="col-sm-5">
        <%= f.text_field :email, value: current_user.email, class: "form-control", readonly: !current_user.admin %>
      </div><br>
      <label class="col-sm-3 control-label">RENT LAPTOP SERIAL NUMBER</label>
      <div class="col-sm-5">
        <%= f.text_field :laptop_serial_number, value: selected_laptop.serial_number, class: "form-control", readonly: !current_user.admin %>
      </div><br>
      <% if current_user.admin %>
        <label class="col-sm-3 control-label">ORDER STATEMENT</label>
        <div class="col-sm-5">
          <%= f.check_box :order_confirm, checked_value: "CONFIRM", unchecked_value: "PROCESSING", class: "form-control" %>
        </div><br>
      <% end %>
    </div>
    <%= f.submit "Place your order", class: "btn btn-success" %>
  <% end %>
</div>