<%= form_for @order do |f| %>
  <% if @order.errors.any? %>
    <div class = "alert alert-danger">
      <h2>
        <%= pluralize(@order.errors.count, "error") %>
        prohibited this order from being saved:
      </h2>
      <ul>
        <% @order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li> <% end %>
      </ul>
    </div> 
  <% end %>  
  <div class="form-group">
    <label class="col-sm-2 control-label">Name</label>
    <div class="col-sm-5">
      <%= f.text_field :name, value: current_user_full_name, class: "form-control", disabled: true %>
    </div><br>
    <label class="col-sm-2 control-label">Email</label>
    <div class="col-sm-5">
      <%= f.text_field :email, value: current_user.email, class: "form-control", disabled: true %>
    </div><br>
    <label class="col-sm-2 control-label">RENT LAPTOP SERIAL NUMBER</label>
    <div class="col-sm-5">
      <%= f.text_field :laptop_number, value: current_user.email, class: "form-control", disabled: true %>
    </div><br>
  </div>
  <%= f.submit "Save Laptop", class: "btn btn-success" %>
<% end %>
