<div class="container">
  <% if notice %>
      <p class = "alert alert-success"><%= notice %></p> 
  <% end %>
  <div class="page-header">
    <h1><%= @order.id%> Detail</h1>
  </div>
  <div class="order_detail"><br>
    <label class="col-sm-3">NAME</label>
    <div class="col-sm-5"><%= @order.name %></div><br>
    <label class="col-sm-3">EMAIL</label>
    <div class="col-sm-5"><%= @order.email %></div><br>
    <label class="col-sm-3">DEPARTMENT</label>
    <div class="col-sm-5"><%= @order.laptop_number %></div><br>
  </div><br>
  <div class="buttons">
    <%= link_to "Edit", edit_order_path(@order), class: "btn btn-info" %> 
    <%= link_to "Delete", @order, method: :delete, data: {confirm: "Are you sure? You can’t cancel this action."}, class: "btn btn-danger" %></td>
  </div><br>
  <% if current_user.admin %>
    <%= link_to "Back to List", orders_url , class: "btn btn-primary"%>
  <% else %>
    <%= link_to "Home", "/" , class: "btn btn-primary"%>
  <% end %>
</div>