<div class="container">
  <div class="starter-template">
    <h1>LAPTOPS LIST</h1>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>SERIAL NUMBER</th>
          <th>MODEL</th>
          <th>HDD SIZE</th>
          <th>CPU SPEED</th>
          <th>RAM</th>
          <th>SCREEN SIZE</th>
          <th>PURCHASED DATE</th>
          <th>CURRENT STATE</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @laptops.each do |laptop| %>
        <tr>
          <td></td>
          <td><%= laptop.serial_number %></td>
          <td><%= laptop.model_ %></td>
          <td><%= laptop.hdd_size %></td>
          <td><%= laptop.cpu_speed %></td>
          <td><%= laptop.ram %></td>
          <td><%= laptop.screen_size %></td>
          <td><%= laptop.purchased_date %></td>
          <td><%= laptop.state %></td>
          <td><%= link_to "DETAIL", laptop_path(laptop) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
