<%= form_for @laptop do |f| %>
  <% if @laptop.errors.any? %>
    <div class = "alert alert-danger">
      <h2>
        <%= pluralize(@laptop.errors.count, "error") %>
        prohibited this laptop from being saved:
      </h2>
      <ul>
        <% @laptop.errors.full_messages.each do |msg| %>
          <li><%= msg %></li> <% end %>
      </ul>
    </div> 
  <% end %>
  <div class="info-detail">
    <label>SERIAL NUMBER</label>
    <%= f.text_field :serial_number, class: "info-input", placeholder: "SERIAL NUMBER" %>
    <label>MODEL</label>
    <%= f.text_field :model_, class: "info-input", placeholder:"MODEL" %>
    <label>HDD SIZE</label>
    <%= f.text_field :hdd_size, class: "info-input", placeholder:"HDD SIZE" %>
    <label>CPU SPEED</label>
    <%= f.text_field :cpu_speed, class: "info-input", placeholder:"CPU SPEED" %>
    <label>RAM</label>
    <%= f.text_field :ram, class: "info-input", placeholder:"RAM" %>
    <label>SCREEN SIZE</label>
    <%= f.text_field :screen_size, class: "info-input", placeholder:"RAM" %>
    <label>PURCHASED DATE</label>
    <%= f.date_field :purchased_date, class: "info-input" %>
  </div><br>
  <%= f.submit "Save Laptop", class: "btn btn-success info-save" %><br><br>
<% end %>
