<div class="contents">
  <% if notice %>
      <p class = "alert alert-success"><%= notice %></p>
  <% end %>
  <h1 class="info-title">LAPTOP / <%= @laptop.serial_number%></h1>
  <div class="info-detail">
    <label>SERIAL NUMBER</label>
    <div class="info"><%= @laptop.serial_number %></div>
    <label>MODEL</label>
    <div class="info"><%= @laptop.model_ %></div>
    <label>HDD SIZE</label>
    <div class="info"><%= @laptop.hdd_size %></div>
    <label>CPU SPEED</label>
    <div class="info"><%= @laptop.cpu_speed %></div><br>
    <label>RAM</label>
    <div class="info"><%= @laptop.ram %></div><br>
    <label>SCREEN SIZE</label>
    <div class="info"><%= @laptop.screen_size %></div><br>
    <label>PURCHASED DATE</label>
    <div class="info"><%= @laptop.purchased_date %></div><br>
    <label>CURRENT STATE</label>
    <div class="info"><%= @laptop.state %></div>
  </div><br>
  <div class="buttons">
    <% if current_user.admin %>
      <%= link_to "Edit", edit_laptop_path(@laptop), class: "btn btn-info" %>
      <%= link_to "Delete", @laptop, method: :delete, data: {confirm: "Are you sure? You can’t cancel this action."}, class: "btn btn-danger" %></td><br><br>
    <% end %>
    <%= link_to "Proceed to borrow", new_order_path, class: "btn btn-info" %>
    <%= link_to "Back to List", laptops_url , class: "btn btn-primary"%>
  </div>
</div>
