<% if session[:user_id].nil? %>
  <%= form_tag login_url, class: "nav-account-login" do %>
    <%= text_field_tag :email, params[:email], placeholder: "EMAIL", class: "nav-account-id" %>
    <%= password_field_tag :password, params[:password], placeholder: "PASSWORD", class: "nav-account-pw" %>
    <%= submit_tag "Login", class: "header_btn login" %>
  <% end %>
  <h5 class="nav-new-account">New to PrismBox? <%= link_to "Start Here", new_user_path %> </h5>
<% end %>
